body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 50px;
}
h2{
    text-align: center;
}
.form{
    width: 100%;
    max-width: 25%;
    padding: 15px;
    margin: auto;
}
.data-list{
    width: 50%;
    margin: auto;    
}
.btn-group{
   width: 50px;    
}
